<form method="POST" action="/password">
  <div>
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" name="oldPassword">
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword">
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
  </div>
  <button type="submit">Update Password</button>
</form>