main.hbs
<!DOCTYPE html>
<html>

<head>
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <!-- 共用的頁首 -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Todo List</a>
    </nav>
  </header>

  <!-- 主要內容 -->
  <div class="container mt-4">
    {{{body}}}
    <!-- 這裡會顯示具體頁面的內容 -->
  </div>

  <!-- 共用的頁腳 -->
  <footer class="mt-4">
    <!-- 頁腳內容 -->
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>