<!DOCTYPE html>
<html>

<head>
  <title>Edit Todo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Edit Todo</h1>

    <!-- Edit Todo Form -->
    <form id="editTodoForm" method="POST">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}" required>
      </div>
      <div class="form-group">
        <label for="completed">Completed:</label>
        <input type="checkbox" class="form-control" id="completed" name="completed" {{#if
          todo.completed}}checked{{/if}}>
      </div>
      <button type="submit" class="btn btn-primary">Update Todo</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#editTodoForm').submit(function (event) {
        event.preventDefault();
        const title = $('#title').val();
        const completed = $('#completed').is(':checked');
        const id = '{{todo.id}}';
        const url = `/todos/${id}`;
        $.ajax({
          url: url,
          type: 'PUT',
          data: { title: title, completed: completed },
          success: function () {
            window.location.href = `/todos/${id}`;
          }
        });
      });
    });
  </script>
</body>

</html>